:root {
    /* text colors */
    --main-txt-cl: #2E2F42;
    --secondary-txt-cl: #434455;
    --accent-txt-cl: #4D5AE5; 

    /* BG colors */
    --main-bg-cl: #E5E5E5;
    --secondary-bg-cl: #2E2F42;
    --accent-bg-cl: #404BBF;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: var(--main-bg-cl);
    color: var(--main-txt-cl);
}

.logo {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 800;
    color: inherit;
}

.accent {
    color: var(--accent-txt-cl);
}

.nav-link {
    font-family: inherit;
    font-weight: 500;
    font-size: inherit;
    line-height: calc(24 / 16);
    text-decoration: none;
    color: inherit;
}

 .nav-link:hover,
 .nav-link:focus {
    color: var(--accent-bg-cl);
}

.current:active {
    color: var(--accent-bg-cl);
}

.address-link {
    font-family: inherit;
    font-size: inherit;
    color: var(--secondary-txt-cl);
    text-decoration: none;
    font-style: normal;
}

.section-slogan {
    background-color: var(--secondary-bg-cl);
}

.slogan-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 56px;
    line-height: calc(60 / 56);
    color: #FFFFFF;
}

.button-order {
    background: var(--accent-txt-cl);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: #FFFFFF;
    cursor: pointer;
} 

.button-order:hover,
.button-order:focus {
    background-color: var(--accent-bg-cl);
}

.button-filter {
    background: #F4F4FD;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: #4D5AE5;
    cursor: pointer;
}

.button-filter:hover,
.button-filter:focus {
    background-color: var(--accent-bg-cl);
    color: #FFFFFF ;
}

.header-2 {
    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    color: inherit;
}

.header-3 {
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: inherit;
}
.footer {
    background-color: var(--secondary-bg-cl);
    color: #FFFFFF;
}

.logo-footer {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 800;
    color: #FFFFFF;
}
